wp-admin/
wp-includes/
index.php
license.txt
readme.html
wp-content/themes/desafio-wp/node_modules/
# wp-*
wp-activate.php
wp-blog-header.php
xmlrpc.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php