html {
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: visible;

    @media screen and (max-width: 991px) {
        font-size: 14px;
    }

    @media screen and (max-width: 767px) {
        font-size: 12px;
    }

    @media screen and (max-width: 320px) {
        font-size: 11px;
    }

    &.not-scroll {
        overflow: hidden;
    }

    @media screen and (max-width: 991px) {
        overflow-x: hidden!important;
        overflow-y: visible!important;
    }
}

body {
    @media screen and (max-width: 991px) {
        overflow-x: hidden!important;
        overflow-y: visible!important;
    }

    &.not-scroll {
        overflow: hidden!important;
        
    }
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 900px) {
    html,
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

// Menu Trigger
.btn-menu {
    position: fixed;
    margin-right: 0;
    width: 30px;
    height: auto;
    @include align-items(center);
    @include justify-content(center);
    color: #fff;
    transition: all 0.5s ease-in-out 0s !important;
    cursor: pointer;
    display: none;
    z-index: 1039;
    top: 3rem;
    transform: translateY(-50%);
    right: 15px;
    @media screen and (max-width: 991px) {
        @include flexbox;
    }

    &.on-screen {
        .menu-trigger {
            .line {
                background: #4cae30;
            }
        }
    }

    &.active {
        transition: all 0.5s ease-in-out 0s !important;

        .menu-trigger {
            .line {
                background: #fff;
                transition: all 0.3s ease-in-out 0s !important;
                width: 100%!important;

                &.line-1 {
                    top: 7px;
                    transition: all 0.3s ease-in-out 0s !important;
                }

                &.line-2 {
                    opacity: 0;
                    transition: all 0.3s ease-in-out 0s !important;
                }

                &.line-3 {
                    top: -7px;
                    transition: all 0.3s ease-in-out 0s !important;
                }
            }
        }

        &.ready {
            .menu-trigger {
                .line {
                    background: #fff;

                    &.line-1 {
                        transform: rotate(-45deg);
                        transition: all 0.3s ease-in-out 0s !important;
                    }

                    &.line-3 {
                        transform: rotate(45deg);
                        transition: all 0.3s ease-in-out 0s !important;
                    }
                }
            }
        }
    }

    .menu-trigger {
        position: relative;
        z-index: 103;
        top: 0;
        right: 0;
        padding: 0;
        width: 100%;
        height: 21px;
        cursor: pointer;
        transform: translateZ(0);
        background: transparent;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(space-between);

        .line {
            display: table;
            background: #000;
            width: 100%;
            height: 3px;
            position: relative;
            border-radius: 0;
            text-indent: -624.9375rem;
            opacity: 1;
            visibility: visible;
            margin: auto;

            &.line-1 {
                top: 0;
                transition: all 0.3s ease-in-out 0s !important;
            }

            &.line-2 {
                transition: all 0.3s ease-in-out 0s !important;
            }

            &.line-3 {
                top: 0;
                transition: all 0.3s ease-in-out 0s !important;
            }
        }
    }
}

.title-block {
    h1, h2, h3 {
        font-size: 80px;
        color: #fff;
        font-family: $fontMontSerrat;
        font-weight: 700;
        line-height: 80px;
        margin: 0;
    }
    h2 {
        font-size: 30px;
        color: #FF0000;
    }
    h3 {
        color: #fff;
        font-size: 20px;
        line-height: 29px;
        margin-top: 15px;
    }
}

.infos {
    gap: 10px;
    margin: 0;
    .item-info-box {
        width: 140px;
        height: 32px;
        background: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        color: #000;
        &.outline {
            background: transparent;
            border: 1px solid #fff;
            a {
                color: #fff;
            }
        }
        a {
            font-size: 16px;
            color: #5A5A5A;
            text-decoration: none;
            font-family: $fontMontSerrat;
            font-weight: 500;;
            p {
                margin: 0;
            }
        }
        
    }
}

.bt-infor {
    a {
        text-decoration: none;
    }
}

button {
    &.bt-default {
        border: none;
        border-radius: 3px;
        background: #FF0000;
        width: 310px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 16px;
        font-family: $fontMontSerrat;
    }
}

.slick-prev, .slick-next {
    display: none !important;
}

.description-block {
    p {
        font-size: 14px;
        color: #fff;
        font-family: $fontMontSerrat;
    }
}

.sliders, .sliders-archive {
    .video-item {
        figure {
            height: 387px;
            width: 91%;
            img {
                height: 387px;
                object-fit: cover;
            }
        }
    }
}

.sliders-archive {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    .video-item {
        width: 240px;
        margin-bottom: 60px;
    }
}