/*** COLORs ***/
$color_1: #073B4C;

/*** FONTs ***/
$fontMontSerrat: "Montserrat", sans-serif;
$fontRoboto: "Roboto", sans-serif;

$font-size: 16px;

$transition: all 0.5s ease-out 0s !important;
$transition_faster: all 0.3s ease-out 0s !important;

$font-path: "../fonts/";
