.single {
    .featured-post {
        display: none;
    }
    .video-unique {
        background: #000;
        padding: 5rem 20px;
        .embed-video {
            margin-top: 2rem;
        }
        .title-block {
            margin-top: 1rem;
            h1 {
                font-size: 50px;
            }
        }
        .description-block {
            p {
                font-size: 18px;
            }
        }
    }
}